$link-color: #02779E;
$badge-color: #354250;
$error-color: #C34444;
$warning-color: #DFBA57;
$success-color: #4AD964;
$repo-link-color: #bbdde1;

body {
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

#toolbar > div {
  margin-left: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, 0.6);
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  font-size: 0.8em;
  padding: 10px;
}

#toolbar {
  margin: 10px;
  display: flex;
  align-items: center;

  #sort-by-repo-container {
    margin-left: 10px;
  }

  #refresh-button {
    margin-right: 5px;
  }

  #auto-refresh, #sort-by-repo {
    margin: 0 5px 0 5px;
  }

  #auto-refresh-time {
    margin: 0 5px 0 5px;
  }
}

.pull-requests {
  display: flex;
  flex-wrap: wrap;

  .pull-request-container {
    width: 50%;
  }
}

.pull-request {
  align-items: center;
  background-color: #252525;
  border-radius: 5px;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  color: #aaa;

  img {
    vertical-align: middle;
  }
  
  a {
    color: white;
  }

  &.pull-request--mergeable {
    background: green;
    color: white !important;
    .pull-request-last-updated,
    .pull-request-number {
      color: white !important;
    }
    
  }

  &.pull-request--unmergeable {
    background: red;
    color: white !important;
    .pull-request-last-updated,
    .pull-request-number {
      color: white !important;
    }
  }

  .pull-request-status {
    display: block;
    width: 15px;
    background: #333;
    height: 100px;
    border-radius: 3px;
    margin-right: 15px;
  
    &.error {
      background: red;
    }
    &.pending {
      background: gold;
    }
    &.success {
      background: limegreen;
    }
  }

  .pull-request-info {
    flex-grow: 1;
  }

  .pull-request-title {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    white-space: nowrap;
    width: 485px;
  }

  .pull-request-number {
    color: #AAAAAA;
    margin: 0 5px 0 0;
  }

  .pull-request-last-updated {
    padding: 0 .5rem;
    color: #aaa;
    align-self: top;
    vertical-align: top;
    height: 100px;
  }

  .pr-status {
    display: inline-block;
    margin: 0 5px;    // Maintain spacing with the comments to the right

    .success {
      color: limegreen;
    }
    .pending {
      color: gold;
    }
    .failure, .error {
      color: red;
    }
  }

  .pr-comments {
    display: inline-block;

    div {
      display: inline-block;
      margin-right: 1rem;
    }

    .pr-comment-positive {
      i {
         color: limegreen;
      }
    }

    .pr-comment-negative {
      i {
         color: red;
      }
    }
  }
}

.user-photo {
  margin-right: 1rem;
  display: flex;
  align-items: stretch;

  img {
    align-self: center;
    border-radius: 5px;
  }
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: lighten($link-color, 10%);
  }
}

button {
  background-color: #354250;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
  border: #354250;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.25s ease 0s;
  outline: none;
  margin: 0.25em;

  a {
    color: #FFFFFF;
  }

  &:hover {
    $background: $link-color;
    color: #FFFFFF;
    cursor: pointer;
    background-color: $background;
    border-color: $background;
  }

  &:active {
    $background: $link-color;
    color: #FFFFFF;
    outline: none;
    background-color: $background;
    border-color: $background;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
      border-color: darken($link-color, 10%);
      color: darken($link-color, 10%);
    }
  }
}

.error-message {
  align-items: center;
  background-color: #FEFEFE;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;

  .error-message-details {
    background: $error-color;
    align-items: center;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    padding: 0.5rem 1rem;
  }

  .warning-symbol {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }
}

.repo-indicator {
  align-items: center;
  background-color: #FEFEFE;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;

  .repo-symbol {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }

  .repo-indicator-description {
    background: $badge-color;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    padding: 0.5rem 1rem;
  }

  .repo-details {
    font-style: italic;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-align: right;
  }

  .repo-title {
    font-weight: bold;
    display: inline-block;
    margin-right: 1rem;
    flex-grow: 1;
    margin-top: 0.75rem;
  }

  .repo-link {
    color: $repo-link-color;
    text-decoration: none;
    &:hover {
      color: lighten($repo-link-color, 10%);
    }
  }
}

.container-header {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #222;
  color: #9d9d9d;
  margin-bottom: 10px;

  h1 {
    margin: 0;
  }

  #pr-count, #repo-count {
    font-size: 2em;
    margin-left: 0.5em;

    img {
      width: 0.8em;
      vertical-align: middle;
    }
  }
}

.filter-repo-container {
  flex-grow: 1;
  text-align: right;

  .btn-filter {
    margin-left: 0.5rem;
  }
}

#edit-dashboard {
  input {
    font-size: 1em;
  }

  .content {
    padding: 0.5em;
  }

  #positiveMerge, #negativeMerge {
    width: 4em;
  }

  .item {
    border: 1px solid #999999;
    border-radius: 5px;
    display: inline-block;
    margin: 0.25em;
    padding: 0.25em;
    background-color: #E2E8F5;
    box-shadow: 1px 1px 1px #999999;

    i {
      cursor: pointer;
    }

    img {
      vertical-align: middle;
    }
  }

  .edit-error {
    background-color: $error-color;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 0.25em;
  }
}

input {
  padding: 0.25em;
  border-radius: 2px;
  border: 1px solid #999999;
}

.pull-request-info {
  height: 100px;
}

.pull-request-title .fa {
  color: white;
  margin-left: 3px;
}

.pull-request .fa {
  color: white;
  margin-right: 5px;
}

.pull-request-details > div {
  margin-top: 4px;
}